Guilherme gamedev1/.vs
Guilherme gamedev1/UserSettings
*.sln
Guilherme gamedev1/Temp
*.vsconfig
*.csproj
Guilherme gamedev1/.vscode
Guilherme gamedev1/Library
Guilherme gamedev1/Logs
Guilherme gamedev1/obj
